.home-container {
  position: relative;
  top: 100px;
  width: 100%;
  justify-content: center;
  height: 50vh;
}

.form-container {
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 100px;
  flex-direction: column;
  width: 75%;
  margin-top: 10px;
  background-color: blue;
  height: 45vh;
  border-radius: 30px;
}

.form-group {
  margin: 30px auto;
}

.form-input {
  height: 2rem;
  width: 20rem;
}

.form-select {
  width: 24.5em;
  margin-top: 20px;
  height: 2.5rem;
}

.button-container {
  display: flex;
}

.form-button {
  margin: 30px auto;
  height: 35px;
  width: 30%;
  font-size: 25px;
  background-color: white;
  font-weight: bold;
  border-radius: 30px;
}

.form-button:hover {
  background-color: green;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .form-container {
    width: 50%;
  }

  .form-input {
    height: 2rem;
    margin-bottom: 15px;
  }
}
