.home-container {
  position: relative;
  top: 100px;
  width: 100%;
  justify-content: center;
  height: 50vh;
}

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 10px;
  background-color: blue;
  height: 45vh;
  border-radius: 30px;
}

.form-input {
  height: 3rem;
  width: 75%;
  margin: 20px auto;
}

@media screen and (min-width: 600px) {
  .form-container {
    width: 50%;
  }

  .form-input {
    height: 2rem;
    margin-bottom: 15px;
  }
}
